nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
	div.container.d-flex.justify-content-between
		a.navbar-brand.d-flex.align-items-center
			strong Trailer
		button.navbar-toggler
			span.navbar-toggler-icon